{% extends "./layout.html" %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row" style="margin-top: 10px">
            <div class="two columns">
                <img src="{% static 'images/bee-logo.png' %}" width="100" height="100"
                     class="bee-image" style="margin: 15px"/>
            </div>
            <div class="eight columns">
                <h2 class="center">Meal Plan</h2>
                <h4 class="center">Holiday Care / Week {{ week }}</h4>
            </div>
            <div class="two columns">
                <img src="{% static 'images/the-hive.png' %}" width="100" height="100" style="margin: 10px"/>
            </div>
        </div>

        <div class="row">
            <table>
                <thead>
                <tr>
                    <th width="16.6%"></th>
                    <th width="16.6%"><div class="rotate-left">Monday</div></th>
                    <th width="16.6%"><div>Tuesday</div></th>
                    <th width="16.6%"><div class="rotate-right">Wednesday</div></th>
                    <th width="16.6%"><div class="rotate-left">Thursday</div></th>
                    <th width="16.6%"><div class="rotate-right">Friday</div></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong><sup>8am</sup><br>Brekkie</strong></td>
                    <td colspan="5" class="center">
                        {{ breakfast.description | linebreaksbr }}
                    </td>
                </tr>
                <tr>
                    <td><strong><sup>3.15pm</sup><br>Super Snack</strong></td>
                    {% for meal in meals %}
                        <td><em>{{ meal.name }}</em></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Description</strong></td>

                        {% for meal in meals %}
                            <td><ul>{{ meal.description | unordered_list }} </ul></td>
                        {% endfor %}

                </tr>
                <tr>
                    <td><strong>Side</strong></td>
                    <td colspan="5" class="center">
                        {{ veggies.description | linebreaksbr }}
                    </td>
                </tr>
                <tr class="bee-yellow">
                    <td><strong>Coeliac</strong></td>
                    {% for meal in meals %}
                        <td>{{ meal.coeliac|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr class="bee-grey">
                    <td><strong>Vegetarian</strong></td>
                    {% for meal in meals %}
                        <td>{{ meal.vegetarian|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr class="bee-yellow">
                    <td><strong>Vegan</strong></td>
                    {% for meal in meals %}
                        <td>{{ meal.vegan|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr class="bee-grey">
                    <td><strong>Milk Intolerant</strong></td>
                    {% for meal in meals %}
                        <td>{{ meal.milk_intolerant|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong><sup>5pm</sup><br>Nibbles</strong></td>
                    <td colspan="5" class="center">{{ fruit.description | linebreaksbr }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <p class="center">
                Holiday Care -
                <a href="{% url 'index' '2017' '0' '1' %}">W1</a> /
                <a href="{% url 'index' '2017' '0' '2' %}">W2</a>
{#                <a href="{% url 'index' '2017' '2' '3' %}">W3</a> /#}
{#                <a href="{% url 'index' '2017' '2' '4' %}">W4</a> /#}
{#                <a href="{% url 'index' '2017' '2' '5' %}">W5</a> /#}
{#                <a href="{% url 'index' '2017' '2' '6' %}">W6</a> /#}
{#                <a href="{% url 'index' '2017' '2' '7' %}">W7</a> /#}
{#                <a href="{% url 'index' '2017' '2' '8' %}">W8</a> /#}
{#                <a href="{% url 'index' '2017' '2' '9' %}">W9</a> /#}
{#                <a href="{% url 'index' '2017' '2' '10' %}">W10</a>#}
            </p>

        </div>
    </div>
{% endblock content %}