{% extends "./layout.html" %}
{% block content %}
    <div class="container">
        <h1>Meal plan</h1>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th width="16.6%"></th>
                    <th width="16.6%">Monday</th>
                    <th width="16.6%">Tuesday</th>
                    <th width="16.6%">Wednesday</th>
                    <th width="16.6%">Thursday</th>
                    <th width="16.6%">Friday</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Afternoon Tea <sup>3.15pm</sup></strong></td>
                    {% for meal in meals %}
                        <td><em>{{ meal.name }}</em></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    {% for meal in meals %}
                        <td>{{ meal.description }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Side</strong></td>
                    <td colspan="5" class="center">Always provided with fresh cut veggie sticks</td>
                </tr>
                <tr>
                    <td><strong>Late Afternoon Tea <sup>5pm</sup></strong></td>
                    <td colspan="5" class="center">Fresh local seassonal fruit bowl</td>
                </tr>
                <tr>
                    <td><strong>Coeliac</strong></td>
                    {% for meal in meals %}
                        <td>{{ mon_meal.coeliac|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Vegeterian</strong></td>
                    {% for meal in meals %}
                        <td>{{ mon_meal.vegeterian|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Vegan</strong></td>
                    {% for meal in meals %}
                        <td>{{ mon_meal.vegan|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><strong>Milk Intolerant</strong></td>
                    {% for meal in meals %}
                        <td>{{ mon_meal.milk_intolerant|default:'<i class="fa fa-check" aria-hidden="true"></i>' }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}