{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Meal menu</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foodosh.css' %}"/>

    <!-- AwesomeFont
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.fontawesome.com/9c34e6104e.js"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

</head>
<body>

{% block content %}
    Have a great day!
{% endblock content %}

</body>
</html>
